# Configuration files
.env
config.yml
config.*.yml
!config.example.yml

# Dependecies
vendor/
.gocache/

# Temporary files and binaries
tmp/
/server
builds/

# Coverage and testing output
cobertura.xml
coverage.txt
junit.xml
